.App {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: #282c34;
  color: white;
  padding: 20px;
}

@media only screen and (max-width: 600px) {
  .App {
    flex-direction: column;
    padding: 5px;
    height: auto; 
    margin: 10px 0; 
  }

  .App-log {
    margin-bottom: 20px;
  }

  .App-log textarea {
    height: 200px;
  }

  .CharacterGen {
    width: 95%; 
    padding: 10px;
    margin-top: 20px; 
  }

  label {
    display: flex; 
    justify-content: space-between; 
    margin-bottom: 10px;
  }

  .radio-option {
    margin-right: 10px;
  }

  .input-field {
    width: 100%; 
    margin-bottom: 15px; 
  }

  #genbut {
    width: 100%; 
    margin-left: 0; 
    margin-top: 10px; 
  }
}

.App-log {
  flex: 1;
  margin-right: 20px;
  position: relative;
}

.App-log textarea {
  width: 100%;
  height: 400px;
  padding: 10px;
  font-size: 14px;
  resize: none;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.App-log button {
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  background-color: #61dafb;
  color: #282c34;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.App-log button:hover {
  background-color: #4fa8d7;
}

.CharacterGen {
  width: 40vw; /* Set explicit width */
  height: 65vh; /* Set explicit height */
  padding: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: white;
  color: #333;
  overflow: hidden; /* or auto if you want scrollbars */
  flex-direction: column;
  margin-right: 60px;
  text-align: center;
}

.input-field {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.radio-option {
  margin-right: 15px; 
  vertical-align: middle; 
}

label {
  display: block;
  margin-bottom: 10px;
  font-size: 16px; 
  line-height: 24px; 
  background-color: #fff;
  
}

#genbut {
  display: block;
  width: 100%;
  padding: 12px 20px;
  margin-top: 10px;
  background-color: #61dafb;
  color: #282c34;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
 
}

#genbut:hover {
  background-color: #4fa8d7;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.input-field, .radio-option {
  margin-bottom: 10px; 
}

.logDiv {
  border: 1px solid #ccc;
  padding: 10px;
  overflow: auto;
  white-space: pre-wrap;
  width: 100%;
  height: 100%;
  resize: both;
  background-color: white;
  color: black;
  width: 65vw;          
  height: 40vh;         
  resize: none; /* stops players from changing size of the log */
  border-radius: 10px; 
}
.Nameform {
  width: 22vw; /* Set explicit width */
  height: 60vh; /* Set explicit height */
  padding: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #fff;
  color: #333;
  overflow: hidden; /* or auto if you want scrollbars */
  flex-direction: column;
  margin-right: 20px;
  text-align: center;


}
.selectedRace {
  color: greenyellow;
  transition: all 0.5s ease;
  transform: scale(2) rotate(360deg);
  
}